[run]
; Only include files in the src subfolder in the test
;include=src/**
; Alternatively, not include the venv files, which are in ~/.pyenv
omit=
    */.pyenv/**
    src/test/**
branch = True

[report]
format = txt

[html]
directory = coverageReport

